<div>
  <div class="d-flex align-items-center row">
    <div class="flex flex-column h-30">
      <form>
        <div class="form-group row">
          <div class="col-md-2">
            <label class="form-label">Username</label>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2">
            <label class="">Username</label>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>