<nav class="nav">
  <a class="nav-link active" routerLink="/home">Home</a>
  <a class="nav-link" routerLink="/about">about</a>
  <a class="nav-link" routerLink="/login">login</a>
  <!-- <a class="nav-link">Link</a>
  <a class="nav-link disabled">Disabled</a> -->
</nav>

<div class="container">
  <div class=" text-center">
    <h2>welcome to sample angular application</h2>
  </div>
  <div class="login-block">
    <!-- <login></login> -->
  </div>
</div>

<router-outlet></router-outlet>